# Gradle
.gradle/
build/

# Gradle Wrapper files
gradle-wrapper.jar
gradle-wrapper.properties

# Gradle-specific files
.gradle/
**/gradle-wrapper.jar
**/gradle-wrapper.properties

# Java build outputs
*.class
*.jar
*.war
*.ear

# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Mac system files
.DS_Store


# Log files
*.log

# Temporary files
*.tmp
